<div class = "posts">
  <div class = "into">
    <% @posts.each do |post| %>
      <p><%= post.score%>
        <span class="name"><%= post.subject %></span>
      </p>
    </div>
  <% end %>
  </div>
  <div class = "add">
    <%= link_to"情報を追加",new_post_path, method: :get %> 
  </div>

</div>
 