/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.header{
  background-color: orange;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .title{
    font-size: 50px;
    font-style: oblique;
  }  
  .login_btn{
    font-size: 30px;
    font-style: oblique;
    text-decoration: none;
    margin:0 0 0 auto;
    margin-right: 0;
  }
  .new_btn{
    font-size: 30px;
    font-style: oblique;
  }
  .footer{
    margin-bottom: 0;
    text-align: center;
  }
}
 
